# MIDTERMS

In [282]:
import pandas as pd
from sklearn.metrics import mean_squared_error

In [283]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

## Dataset file

In [284]:
dataset_url = 'https://github.com/robitussin/CCMACLRL_EXAM/blob/a46a4e2a001dedaefc9b431d480b508ce86c2d96/datasets/train.csv?raw=true'
df = pd.read_csv(dataset_url)

In [285]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [286]:
df.isnull().sum()

id                  0
brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
price               0
dtype: int64

In [287]:
df.dropna(inplace=True)

In [288]:
df.isnull().sum()

id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

In [289]:
df.sample(10)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
136930,136930,Chevrolet,Suburban LTZ,2016,69764,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Black,None reported,Yes,25500
14964,14964,BMW,330e iPerformance,2019,14642,Plug-In Hybrid,247.0HP 2.0L 4 Cylinder Engine Plug-In Electri...,8-Speed A/T,Blue,Beige,None reported,Yes,39500
8215,8215,Nissan,350Z Touring,2007,110000,Gasoline,306.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed M/T,Black,Orange,None reported,Yes,6500
27055,27055,Mercedes-Benz,AMG C 43 Base 4MATIC,2021,17900,Gasoline,362.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,9-Speed A/T,Gray,Black,At least 1 accident or damage reported,Yes,52000
169247,169247,Hyundai,Elantra N Base,2017,62930,Gasoline,188.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Gray,Black,None reported,Yes,22000
164074,164074,Chevrolet,Camaro 2SS,2018,70000,Gasoline,455.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Black,None reported,Yes,22000
83585,83585,Jeep,Wrangler Sahara,2009,173452,Gasoline,202.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,4-Speed A/T,Gray,Beige,None reported,Yes,6500
77731,77731,BMW,335 i,2011,69764,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,A/T,Black,Black,At least 1 accident or damage reported,Yes,27500
179636,179636,Chevrolet,Camaro ZL1,2020,13900,Gasoline,650.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Black,None reported,Yes,65000
72375,72375,Ford,Flex SEL,2016,68000,Gasoline,262.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Beige,None reported,Yes,27000

In [290]:
df.duplicated().sum()

np.int64(0)

In [291]:
from datetime import datetime

current_year = datetime.now().year
df['car_age'] = current_year - df['model_year']

In [292]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,car_age
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200,17
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999,22
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900,22
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000,7
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500,3

In [293]:
df.isnull().sum()

id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
car_age         0
dtype: int64

### TRY 3

In [294]:
df['accident'].value_counts()

accident
None reported                             122411
At least 1 accident or damage reported     40199
Name: count, dtype: int64

In [295]:
df['accident'] = df['accident'].replace({'None reported': 0,'At least 1 accident or damage reported': 1})

C:\Users\chescake\AppData\Local\Temp\ipykernel_13048\3059782295.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['accident'] = df['accident'].replace({'None reported': 0,'At least 1 accident or damage reported': 1})

In [296]:
df['brand'].value_counts()

brand
Ford             21348
Mercedes-Benz    16530
BMW              15461
Chevrolet        15170
Audi              9111
Porsche           9025
Toyota            7862
Land              7857
Lexus             7622
Jeep              5330
Cadillac          4330
Nissan            3536
RAM               3391
INFINITI          3103
GMC               2970
Dodge             2967
Mazda             2393
Subaru            2281
Lincoln           2261
Honda             1828
Acura             1738
Hyundai           1714
Kia               1659
Volkswagen        1608
Jaguar            1064
MINI              1035
Bentley           1012
Maserati           836
Genesis            826
Buick              720
Chrysler           693
Volvo              656
Mitsubishi         532
Pontiac            530
Rolls-Royce        521
Hummer             515
Alfa               508
Lamborghini        500
Tesla              343
Ferrari            271
Aston              216
McLaren            188
Saturn             144
Scion              114
Rivian              85
Mercury             55
Lotus               48
FIAT                37
Saab                22
Lucid               17
Plymouth             7
Suzuki               6
Bugatti              5
Karma                4
Maybach              3
Polestar             1
smart                1
Name: count, dtype: int64

In [297]:
df['transmission'].value_counts()

transmission
A/T                                                   46931
8-Speed A/T                                           20194
Transmission w/Dual Shift Mode                        18972
6-Speed A/T                                           17859
6-Speed M/T                                           11833
7-Speed A/T                                           10950
10-Speed A/T                                           7915
9-Speed A/T                                            3802
8-Speed Automatic                                      3728
5-Speed A/T                                            3172
4-Speed A/T                                            2525
5-Speed M/T                                            2380
10-Speed Automatic                                     2178
CVT Transmission                                       1949
6-Speed Automatic                                      1709
Automatic                                              1650
9-Speed Automatic                                      1290
M/T                                                    1146
7-Speed Automatic with Auto-Shift                       516
7-Speed M/T                                             340
Automatic CVT                                           299
8-Speed Automatic with Auto-Shift                       242
1-Speed A/T                                             192
Transmission Overdrive Switch                           156
6-Speed Manual                                          109
7-Speed Automatic                                       102
5-Speed Automatic                                        89
7-Speed Manual                                           68
6-Speed Automatic with Auto-Shift                        60
4-Speed Automatic                                        31
1-Speed Automatic                                        29
–                                                        26
6-Speed Electronically Controlled Automatic with O       20
10-Speed Automatic with Overdrive                        19
7-Speed                                                  19
2-Speed A/T                                              15
F                                                        15
6-Speed                                                  13
9-Speed Automatic with Auto-Shift                        12
2                                                        11
7-Speed DCT Automatic                                    10
Manual                                                    5
8-Speed Manual                                            5
Variable                                                  5
CVT-F                                                     4
6 Speed Mt                                                3
6 Speed At/Mt                                             3
2-Speed Automatic                                         3
8-SPEED A/T                                               2
Single-Speed Fixed Gear                                   2
8-SPEED AT                                                1
SCHEDULED FOR OR IN PRODUCTION                            1
Name: count, dtype: int64

In [298]:
df.loc[df['transmission'].str.contains('Manual| M/T|Mt', na=False ), 'transmission'] = 'M/T'
df.loc[df['transmission'].str.contains('Automatic| A/T|AT', na=False ), 'transmission'] = 'A/T'

In [299]:
df=df[df['transmission'] != 'SCHEDULED FOR OR IN PRODUCTION']
df=df[df['transmission'] != 'Single-Speed Fixed Gear']

other_values = ['Transmission Overdrive Switch', '–', '7-Speed','F', '6-Speed', '2', 'Variable', 'CVT-F']
df['transmission'] =df['transmission'].replace(other_values, 'Unclassified')

In [300]:
df['transmission'].value_counts()

transmission
A/T                               125545
Transmission w/Dual Shift Mode     18972
M/T                                15892
CVT Transmission                    1949
Unclassified                         249
Name: count, dtype: int64

In [301]:
df['fuel_type'].value_counts()

fuel_type
Gasoline          147394
E85 Flex Fuel       5235
Hybrid              5061
Diesel              3652
–                    755
Plug-In Hybrid       495
not supported         15
Name: count, dtype: int64

In [302]:
df['fuel_type'] = df['fuel_type'].replace({'Gasoline': 0, 'Diesel':1, 'E85 Flex Fuel': 2, 'Hybrid':3, 'Plug-In Hybrid': 3, 'not supported': 4})
df=df[df['fuel_type'] != '–']

df['fuel_type'].value_counts()

fuel_type
0    147394
3      5556
2      5235
1      3652
4        15
Name: count, dtype: int64

In [303]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
label_encoder = LabelEncoder()
df['transmission'] = label_encoder.fit_transform(df['transmission'])
df['transmission'].fillna(df['transmission'].median(), inplace=True)

C:\Users\chescake\AppData\Local\Temp\ipykernel_13048\853841517.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['transmission'].fillna(df['transmission'].median(), inplace=True)

In [304]:
df.loc[df['clean_title'].str.contains('Yes', na=False ), 'clean_title'] = 0

In [305]:
df['clean_title'].value_counts()

clean_title
0    161852
Name: count, dtype: int64

In [306]:
df['HP'] = df['engine'].str.extract(r'(\d+\.?\d*)(?=HP)').astype(float)
df['Liters'] = df['engine'].str.extract(r'(\d+\.?\d*)(?=L)').astype(float)

In [307]:
df.drop(columns=['engine', 'int_col', 'ext_col', 'model', 'id'], inplace=True)

In [308]:
df['brand'] = label_encoder.fit_transform(df['brand'])
df['brand'].fillna(df['brand'].median(), inplace=True)

C:\Users\chescake\AppData\Local\Temp\ipykernel_13048\460774141.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['brand'].fillna(df['brand'].median(), inplace=True)

In [309]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161852 entries, 0 to 188532
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   brand         161852 non-null  int64
 1   model_year    161852 non-null  int64
 2   milage        161852 non-null  int64
 3   fuel_type     161852 non-null  object
 4   transmission  161852 non-null  int64
 5   accident      161852 non-null  int64
 6   clean_title   161852 non-null  object
 7   price         161852 non-null  int64
 8   car_age       161852 non-null  int64
 9   HP            149185 non-null  float64
 10  Liters        160820 non-null  float64
dtypes: float64(2), int64(7), object(2)
memory usage: 14.8+ MB

In [310]:
test_url = 'https://github.com/robitussin/CCMACLRL_EXAM/blob/a46a4e2a001dedaefc9b431d480b508ce86c2d96/datasets/test.csv?raw=true'
dt=pd.read_csv(test_url)

In [311]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125690 entries, 0 to 125689
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            125690 non-null  int64
 1   brand         125690 non-null  object
 2   model         125690 non-null  object
 3   model_year    125690 non-null  int64
 4   milage        125690 non-null  int64
 5   fuel_type     122307 non-null  object
 6   engine        125690 non-null  object
 7   transmission  125690 non-null  object
 8   ext_col       125690 non-null  object
 9   int_col       125690 non-null  object
 10  accident      124058 non-null  object
 11  clean_title   111451 non-null  object
dtypes: int64(3), object(9)
memory usage: 11.5+ MB

In [312]:
dt['car_age'] = current_year - dt['model_year']

In [313]:
dt['accident'] = dt['accident'].replace({'None reported': 0,'At least 1 accident or damage reported': 1})

C:\Users\chescake\AppData\Local\Temp\ipykernel_13048\2175668488.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dt['accident'] = dt['accident'].replace({'None reported': 0,'At least 1 accident or damage reported': 1})

In [314]:
dt.loc[dt['transmission'].str.contains('Manual| M/T|Mt', na=False ), 'transmission'] = 'M/T'
dt.loc[dt['transmission'].str.contains('Automatic| A/T|AT', na=False ), 'transmission'] = 'A/T'

dt['transmission'] =dt['transmission'].replace(other_values, 'Unclassified')

In [315]:
dt['transmission'].value_counts()

transmission
A/T                               100305
Transmission w/Dual Shift Mode     12824
M/T                                10828
CVT Transmission                    1337
Unclassified                         375
Single-Speed Fixed Gear               12
SCHEDULED FOR OR IN PRODUCTION         9
Name: count, dtype: int64

In [316]:
dt['fuel_type'] = dt['fuel_type'].replace({'Gasoline': 0, 'Diesel':1, 'E85 Flex Fuel': 2, 'Hybrid':3, 'Plug-In Hybrid': 3, 'not supported': 4})

In [317]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161852 entries, 0 to 188532
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   brand         161852 non-null  int64
 1   model_year    161852 non-null  int64
 2   milage        161852 non-null  int64
 3   fuel_type     161852 non-null  object
 4   transmission  161852 non-null  int64
 5   accident      161852 non-null  int64
 6   clean_title   161852 non-null  object
 7   price         161852 non-null  int64
 8   car_age       161852 non-null  int64
 9   HP            149185 non-null  float64
 10  Liters        160820 non-null  float64
dtypes: float64(2), int64(7), object(2)
memory usage: 14.8+ MB

In [318]:
dt.loc[dt['clean_title'].str.contains('Yes', na=False ), 'clean_title'] = 0

In [319]:
dt['HP'] = dt['engine'].str.extract(r'(\d+\.?\d*)(?=HP)').astype(float)
dt['Liters'] = dt['engine'].str.extract(r'(\d+\.?\d*)(?=L)').astype(float)
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125690 entries, 0 to 125689
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            125690 non-null  int64
 1   brand         125690 non-null  object
 2   model         125690 non-null  object
 3   model_year    125690 non-null  int64
 4   milage        125690 non-null  int64
 5   fuel_type     122307 non-null  object
 6   engine        125690 non-null  object
 7   transmission  125690 non-null  object
 8   ext_col       125690 non-null  object
 9   int_col       125690 non-null  object
 10  accident      124058 non-null  float64
 11  clean_title   111451 non-null  object
 12  car_age       125690 non-null  int64
 13  HP            103509 non-null  float64
 14  Liters        116283 non-null  float64
dtypes: float64(3), int64(4), object(8)
memory usage: 14.4+ MB

In [320]:
dt.drop(columns=['engine', 'int_col', 'ext_col', 'model', 'id' ], inplace=True)

In [321]:
dt['transmission'] = label_encoder.fit_transform(dt['transmission'])
dt['transmission'].fillna(dt['transmission'].median(), inplace=True)

C:\Users\chescake\AppData\Local\Temp\ipykernel_13048\854870417.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt['transmission'].fillna(dt['transmission'].median(), inplace=True)

In [322]:
dt['brand'] = label_encoder.fit_transform(dt['brand'])
dt['brand'].fillna(df['brand'].median(), inplace=True)

C:\Users\chescake\AppData\Local\Temp\ipykernel_13048\3432106698.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt['brand'].fillna(df['brand'].median(), inplace=True)

In [323]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161852 entries, 0 to 188532
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   brand         161852 non-null  int64
 1   model_year    161852 non-null  int64
 2   milage        161852 non-null  int64
 3   fuel_type     161852 non-null  object
 4   transmission  161852 non-null  int64
 5   accident      161852 non-null  int64
 6   clean_title   161852 non-null  object
 7   price         161852 non-null  int64
 8   car_age       161852 non-null  int64
 9   HP            149185 non-null  float64
 10  Liters        160820 non-null  float64
dtypes: float64(2), int64(7), object(2)
memory usage: 14.8+ MB

In [324]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125690 entries, 0 to 125689
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   brand         125690 non-null  int64
 1   model_year    125690 non-null  int64
 2   milage        125690 non-null  int64
 3   fuel_type     122307 non-null  object
 4   transmission  125690 non-null  int64
 5   accident      124058 non-null  float64
 6   clean_title   111451 non-null  object
 7   car_age       125690 non-null  int64
 8   HP            103509 non-null  float64
 9   Liters        116283 non-null  float64
dtypes: float64(3), int64(5), object(2)
memory usage: 9.6+ MB

In [325]:
df.fillna(0, inplace=True)

In [326]:
X = df.drop(['price'],axis=1)
y = df['price']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.4,random_state=42)

In [327]:
X = df.drop(['price'],axis=1)
y = df['price']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.4,random_state=42)
     

model = LinearRegression()
model.fit(X_train,y_train)

y_pred = model.predict(X_test)

rmse = mean_squared_error(y_test,y_pred, squared=False)

print(rmse)

74837.48996424336

c:\Users\chescake\anaconda3\envs\olympiaCOM222ML\lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [328]:
dt['fuel_type'] = dt['fuel_type'].replace("", "-" ,inplace=True)
dt.fillna(0, inplace=True)

C:\Users\chescake\AppData\Local\Temp\ipykernel_13048\3756933955.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt['fuel_type'] = dt['fuel_type'].replace("", "-" ,inplace=True)
C:\Users\chescake\AppData\Local\Temp\ipykernel_13048\3756933955.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dt.fillna(0, inplace=True)

In [329]:
sample_submission_url = 'https://github.com/robitussin/CCMACLRL_EXAM/blob/a46a4e2a001dedaefc9b431d480b508ce86c2d96/datasets/sample_submission.csv?raw=true'

sf=pd.read_csv(sample_submission_url)

In [330]:
id = sf.pop('id')
y_pred = model.predict(dt)

# Create a submission DataFrame
submission_df = pd.DataFrame({
    'id': id,
    'price': y_pred
})

In [333]:
# Save the submission DataFrame to a CSV file
submission_df.to_csv('submission_file.csv', index=False)
print("Submission file created: submission_file.csv")

Submission file created: submission_file.csv